<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="keywords" content="我是关键字" />
    <meta name="description" content="练习已发布成功,请前往智学APP作答" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <title>任务页面</title>
    <link rel="icon" href="data:;base64,="/>
    <script src="js/jquery.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link type="text/css" rel="styleSheet" href="./css/index.css" />
</head>
<body>
<img style="display: none;width: 300px;height: 300px;" src="./image/assignHwork_individuationHwork@2x.png" alt=""/>
<div class="wrap" id="app" v-cloak>
    <img id="share_leftImage" src="./image/share_leftImg@2x.png" alt=""/>
    <img id="share_rightImage" src="./image/share_rightImg@2x.png" alt=""/>
    <img id="share_leftIcon" src="./image/share_leftIcon@2x.png" alt=""/>
    <img id="share_rightIcon" src="./image/share_rightIcon@2x.png" alt=""/>
    <!--作业内容-->
    <div id="backview">
        <div id="share_hworkInfo" v-if="isRequestSuccess">
            <div id="hworkInfo_hwTitle_div">
                <span id="hworkInfo_hwTitle">{{ hwTitle }}</span>
            </div>
            <div class="hworkInfo_hr_div"></div>
            <div id="hworkInfo_detail" v-if="!isRepeal">
                <!--作业信息-->
                <!--避免名称太长换行-->
                <div class="hworkInfo_topDetail">
                    <span class="hworkInfo_topDetail_left">练习名称:</span>
                    <span class="hworkInfo_topDetail_right" id="titleName">{{ hwTitle }}</span>
                </div>
                <div class="hworkInfo_topDetail">
                    <span class="hworkInfo_topDetail_left">练习类型:</span>
                    <span class="hworkInfo_topDetail_right">{{ hwTypeName }}</span>
                </div>
                <div class="hworkInfo_topDetail">
                    <span class="hworkInfo_topDetail_left">练习开始时间:</span>
                    <span class="hworkInfo_topDetail_right">{{ hwStartTime }}</span>
                </div>
                <div class="hworkInfo_topDetail">
                    <span class="hworkInfo_topDetail_left">练习结束时间:</span>
                    <span class="hworkInfo_topDetail_right">{{ hwEndTime }}</span>
                </div>
                <div id="hworkInfo_TipMsg_div">
                    <span id="hworkInfo_TipMsg">练习开始后同学们可在智学网APP上作答，请同学们按时完成练习哦~</span>
                </div>
            </div>
            <div id="hworkInfo_default" v-if="isRepeal">
                <img id="share_default_image" src="./image/share_default_image@2x.png" alt=""/>
                <br>
                <label class="share_default_label">练习已经被老师撤销了～</label>
            </div>
        </div>
        <!--缺省图片-->
        <div id="share_networkError" v-if="!isRequestSuccess">
            <img id="share_error_image" :src="tipImageSrc" alt=""/>
            <br>
            <label class="share_default_label">{{ tipText }}</label>
        </div>
        <div id="share_center_div">
            <img id="share_center_leftImage" src="./image/share_center_iconImg@2x.png" alt=""/>
            <img id="share_center_rightImage" src="./image/share_center_iconImg@2x.png" alt=""/>
        </div>
        <div id="share_step">
            <span id="step_span_title">找不到练习？看这里</span>
            <div class="step_div_tip">
                <span class="step_span_tip">第一步：打开智学网APP；</span>
            </div>
            <div class="step_div_tip">
                <span class="step_span_tip">第二步：使用学生智学网账号密码登录；</span>
            </div>
            <div class="step_div_tip">
                <span class="step_span_tip">第一步：在首页点击“练习中心”查看练习。</span>
            </div>
        </div>
        <!--空白容器-->
        <div id="share_tipBackview"></div>
        <div id="share_bottom">
            <span id="bottom_span">请在智学网APP内完成练习</span>
            <a><button id="bottom_btn">打开应用</button></a>
        </div>
    </div>
</div>
<!--蒙层-->
<div id="coverBackview" v-cloak>
    <img id="cover_tipImage" src="./image/cover_tipImage@2x.png" alt=""/>
    <span>
        请点击右上角 【...】
        <br>
        安卓：选择【在浏览器中打开】
        <br>
        iPhone：选择【在safari浏览器中打开】
    </span>
</div>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    $(function () {
        //判断h5是否从微信进入
        if(window.navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == 'micromessenger'){
            document.body.addEventListener('touchmove', function (e) {
                e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
            }, {passive: false});
            $('#coverBackview').css('display','block');
        };

        //打开应用
        $('a').click(function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            console.log('是否是Android：'+isAndroid);
            console.log('是否是iOS：'+isiOS);
            //打开appstore或app
            if (isiOS) {
                //appstore商店
                window.location.href = "zhixue://";
                timer = setTimeout(function() {
                    window.location.href = "https://itunes.apple.com/cn/app/智学网-让学习更简单/id981030648?mt=8";
                }, 3000);
            }
            //打开android应用或应用宝
            if (isAndroid) {
                $('a').attr('href','http://www.wjtr.com/download/index.html');
            }
        });
    });
</script>
</body>
</html>
