* {
    background-color: #F4F5F7;
    padding: 0;
    margin: 0;
}

.index_body {
    overflow-y: hidden;/*为了兼容普通PC的浏览器*/
    height: 100%;
    position: fixed;
}

div,img,span,label {
    background-color: transparent;
}

.wrap {
    width: 100%;
}

#share_leftImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
}

#share_rightImage {
    position: absolute;
    right: 0;
    top: 0;
    width: 118px;
    height: 39px;
}

#share_leftIcon {
    position: absolute;
    z-index: 99;
    left: 17px;
    top: 11px;
    width: 42px;
    height: 48px;
}

#share_rightIcon {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    width: 54px;
    height: 75px;
}

/*作业内容*/
#backview {
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#share_hworkInfo {
    border-radius: 5px;
    background-color: white;
    margin: 18px 18px 10px;
}

#hworkInfo_hwTitle_div {
    padding: 33px 40px 18px;
}

#hworkInfo_hwTitle {
    display:block;
    text-align:center;
}

/*下划线*/
.hworkInfo_hr_div {
    clear: both;
    background-color: #DEE1E5;
    height: 1px;
    margin-left: 18px;
    margin-right: 18px;
}

/*作业信息*/
#hworkInfo_detail {
    margin-top: 20px;
}

/*作业具体信息*/
.hworkInfo_topDetail {
    clear: both;
    margin-bottom: 20px;
    margin-left: 27px;
    margin-right: 27px;
}

.hworkInfo_topDetail .hworkInfo_topDetail_left {
    display: block;
    float: left;
    width: 39%;
    text-align: left;
    color: #57595D;
    font-size: 14px;
    font-family: PingFangSC-Regular, sans-serif;
}

.hworkInfo_topDetail .hworkInfo_topDetail_right {
    display: block;
    float: right;
    width: 56%;
    margin-bottom: 20px;
    text-align: right;
    color: #57595D;
    font-size: 14px;
    font-family: PingFangSC-Medium, sans-serif;
}

/*底部提示语*/
#hworkInfo_TipMsg_div {
    clear: both;
    border-top: dashed #DEE1E5 1px;
    margin-left: 18px;
    margin-right: 25px;
    padding-bottom: 20px;
}

#hworkInfo_TipMsg {
    display: block;
    margin-top: 20px;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 13px;
    color: #05C1AE;
}

/*缺省图片*/
#hworkInfo_default {
    height: 250px;
    text-align: center;
}

#share_default_image {
    margin-top: 32px;
    width: 150px;
    height: 125px;
}

.share_default_label {
    font-size: 14px;
    color: #A5A9AF;
    font-family: PingFangSC-Regular,sans-serif;
}

/*分割线*/
#share_center_div {
    height: 1px;
}

#share_center_leftImage {
    position: relative;
    width: 12px;
    height: 39px;
    z-index: 99;
    top: -25px;
    left: 30%;
}

#share_center_rightImage {
    position: relative;
    width: 12px;
    height: 39px;
    z-index: 99;
    top: -25px;
    left: 60%;
}

/*数据异常情况*/
#share_networkError {
    border-radius: 5px;
    background-color: white;
    margin: 18px 18px 10px;
    height: 250px;
    text-align: center;
}

#share_error_image {
    margin-top: 52px;
    width: 150px;
    height: 125px;
}

/*提示步骤*/
#share_step {
    border-radius: 5px;
    background-color: white;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 20px;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 13px;
    color: #57595D;
}

#step_span_title {
    display: block;
    padding-top: 26px;
    margin-left: 18px;
    margin-bottom: 15px;
}

.step_div_tip {
    border: dashed #DEE1E7 1px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.step_span_tip {
    display: block;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 16px;
}

#share_tipBackview {
    background-color: transparent;
    height: 64px;
}

/*底部按钮*/
#share_bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 54px;
    width: 100%;
    font-size: 15px;
    font-family: PingFangSC-Regular, sans-serif;
}

#bottom_span {
    background-color: white;
    position: absolute;
    padding-left: 15px;
    height: 14px;
    top: 20px;
    line-height: 14px;
    color: #262729;
}

#bottom_btn {
    background-color: #05C1AE;
    border-radius: 5px;
    display: none;
    /*outline:none;*/
    color: white;
    position: absolute;
    right: 15px;
    top: 8px;
    width: 100px;
    height: 38px;
}

/*蒙层*/
#coverBackview {
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    display: none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:998;
    /*pointer-events: none;*/
}

#cover_tipImage {
    position:fixed;
    right: 19px;
    top: 5px;
    width: 72px;
    height: 119px;
}

#coverBackview span {
    position:fixed;
    left: 30px;
    top: 105px;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
