<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="keywords" content="我是关键字" />
    <meta name="description" content="我是网站描述" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"
    />
    <title>班级报告</title>
    <link rel="icon" href="data:;base64,=" />
    <script src="js/flexible.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery.js"></script>
    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
    <link type="text/css" rel="styleSheet" href="./css/index.css" />
    <link type="text/css" rel="styleSheet" href="./css/base.css" />
  </head>
  <body>
    <div class="wrap" id="app" v-cloak>
      <div class="head">
        <div class="head-wrap">
          <p class="report-type">{{ hwTitle }}</p>
          <p class="date-range">{{ startTime }}~{{ endTime }}</p>
        </div>
      </div>
      <div class="content">
        <!-- 总览 -->
        <div class="summary">
          <p class="title">总览</p>
          <ul class="description">
            <li class="des-block">
              <p class="num-data">
                <!-- 显示规则：有值且不为-1,0 -->
                <!-- 
								显示样例：  35.0/28
							 -->
                <span v-if="!(avgScore[0] == -1) && avgScore">{{
                  avgScore[0]
                }}</span
                ><span v-if="avgScore.length>=1" class="decimal">.</span
                ><span class="decimal" v-if="!(avgScore[0] == -1)&&avgScore"
                  >{{ avgScore[1] }}/</span
                ><span class="grey">{{ fullScore }}</span>
                <!-- 替换符号：不存在或值为-1 -->
                <span class="null-data" v-if="(avgScore[0] == -1 || !avgScore)"
                  >--</span
                >
              </p>
              <p class="num-describe">班级平均分</p>
            </li>
            <li class="des-block">
              <p class="num-data">
                <!-- 显示规则：有值且不为-1,0 -->
                <!-- 
								样例：  54.0
							 -->
                <span v-if="!(maxScore[0] == -1) && maxScore">{{
                  maxScore[0]
                }}</span
                ><span v-if="maxScore.length>=1" class="decimal">.</span
                ><span
                  class="decimal"
                  v-if="!(maxScore[0] == -1) && maxScore"
                  >{{ maxScore[1] }}</span
                >
                <!-- 替换符号：不存在或值为-1 -->
                <span class="null-data" v-if="(maxScore[0] == -1 || !maxScore)"
                  >--</span
                >
              </p>
              <p class="num-describe">最高分</p>
            </li>
            <li class="des-block">
              <p class="num-data">
                <!-- 显示规则：有值且不为-1,0 -->
                <!-- 
								显示样例：  33.0
							 -->
                <span v-if="!(minScore[0] == -1) && minScore">{{
                  minScore[0]
                }}</span
                ><span v-if="minScore.length>=1" class="decimal">.</span
                ><span
                  class="decimal"
                  v-if="!(minScore[0] == -1) && minScore"
                  >{{ minScore[1] }}</span
                ><span class="null-data" v-if="(minScore[0] == -1 || !minScore)"
                  >--</span
                >
              </p>
              <p class="num-describe">最低分</p>
            </li>
            <li class="des-block">
              <p class="num-data">
                <!-- 显示规则：有值且不为-1,0 -->
                <!-- 
								显示样例：  5′30″
							 -->
                <span v-if="avgTime.minutes">{{ avgTime.minutes }}′</span
                ><span
                  :class="avgTime.minutes?'decimal':''"
                  v-if="avgTime.second"
                  >{{ avgTime.second }}″</span
                >
                <!-- 替换符号：不存在或值为-1 -->
                <span
                  class="null-data"
                  v-if="!(avgTime.minutes || avgTime.second)"
                  >--</span
                >
              </p>
              <p class="num-describe">平均用时</p>
            </li>
          </ul>
          <div class="class-count">
            <span>未提交</span
            ><span class="class-count-num ">{{ unSubmitedCount }}</span
            ><span v-if="unCorrectedCount !=-1" class="before-line"
              >待批改<span class="class-count-num">{{
                unCorrectedCount
              }}</span></span
            >
          </div>
        </div>
        <!-- 成绩分布 -->
        <div class="total-score">
          <p class="title">成绩分布</p>
          <div class="total-score-content">
            <!-- 饼图 -->
            <div id="eChart"></div>
            <!-- 成绩分等 -->
            <div class=" score-classify">
              <p class="score score-good">
                <em></em>优秀<span>(90%-100%) {{ fullCount }}人</span>
              </p>
              <p class="score score-fine">
                <em></em>良好<span>(80%-89%) {{ goodCount }}人</span>
              </p>
              <p class="score score-Pass">
                <em></em>达标<span>(60%-79%) {{ passCount }}人</span>
              </p>
              <p class="score score-unPass">
                <em></em>不达标<span>(0%-59%) {{ unPassCount }}人</span>
              </p>
            </div>
          </div>
        </div>
        <div class="QRcode">
          <div class="QR-title">
            想了解孩子详细学情？请登录<span>智学家长端查看</span>
          </div>
          <div class="QR-block">
            <div class="QRcode">
              <!-- <img
                :src="deviceType == '1'?'image/Qr_android.png':'image/Qr_IOS.png'"
              /> -->
              <!-- 使用智学统一二维码 -->
              <img src="image/Qr.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
